# **Initial Steps**

In [1]:
#from pydrive.auth import GoogleAuth
#from pydrive.drive import GoogleDrive
#from google.colab import auth
#from oauth2client.client import GoogleCredentials

#auth.authenticate_user()
#gauth = GoogleAuth()
#gauth.credentials = GoogleCredentials.get_application_default()
#drive = GoogleDrive(gauth)

#downloaded = drive.CreateFile({'id':"10TVpC4_CV-h4o2U3P7KjGdvbsiuFFnkN"})   # replace the id with id of file you want to access
#downloaded.GetContentFile('Train.xlsx')

### Libraries, Packages and others

In [2]:
#pip install category_encoders

Requirement already satisfied: category_encoders in d:\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: statsmodels>=0.9.0 in d:\anaconda3\lib\site-packages (from category_encoders) (0.11.1)
Requirement already satisfied: patsy>=0.5.1 in d:\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in d:\anaconda3\lib\site-packages (from category_encoders) (1.5.0)
Requirement already satisfied: pandas>=0.21.1 in d:\anaconda3\lib\site-packages (from category_encoders) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in d:\anaconda3\lib\site-packages (from category_encoders) (0.23.1)
Requirement already satisfied: numpy>=1.14.0 in d:\anaconda3\lib\site-packages (from category_encoders) (1.18.5)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pytz>=2017.2 in d:\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: joblib>=0.11 in d:\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)

WARNING: You are using pip version 20.2.4; however, version 20.3.1 is available.
You should consider upgrading via the 'D:\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in d:\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: scikit-learn>=0.23 in d:\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.1)
Requirement already satisfied: joblib>=0.11 in d:\anaconda3\lib\site-packages (from imbalanced-learn) (0.16.0)
Requirement already satisfied: numpy>=1.13.3 in d:\anaconda3\lib\site-packages (from imbalanced-learn) (1.18.5)
Requirement already satisfied: scipy>=0.19.1 in d:\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.4; however, version 20.3.1 is available.
You should consider upgrading via the 'D:\anaconda3\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import datetime
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from math import ceil
# from pandas_profiling import ProfileReport
import scipy.cluster.hierarchy as shc
from sklearn import datasets
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import KNNImputer
import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.linear_model import LassoCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import RidgeClassifierCV
from sklearn.linear_model import RidgeClassifier
from sklearn.linear_model import ElasticNetCV
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import f_classif, chi2
import imblearn
from imblearn.over_sampling import RandomOverSampler, SMOTE, KMeansSMOTE, ADASYN
from imblearn.under_sampling import ClusterCentroids

# for better resolution plots
%config InlineBackend.figure_format = 'retina' # optionally, you can change 'svg' to 'retina'


import warnings
warnings.filterwarnings("ignore")

### Functions

In [5]:
def birthday_to_age(df, column, new_column):
    '''
    This function creates a column representing the difference in years from a given birth year column values
    Having into account that we are on the year 2048
    '''
    
    df[new_column] = df[column].map(lambda x : 2048 - x)
    
def questionmark_to_nan(df, column):
    '''
    This function turns a binary variable with missing values as '?' in NaN
    It needs as input the dataframe and the column name 
    (column name needs to be between '')
    '''
    df[column] = df[column].map(lambda x: np.nan if x == '?' else x)
    
def ohe(df, column_list):
    ohc = OneHotEncoder(sparse = False)
    ohc_feat = ohc.fit_transform(df[column_list])
    ohc_feat_names = ohc.get_feature_names()
    ohc_df = pd.DataFrame(ohc_feat, index = df.index, columns = ohc_feat_names)
    return ohc_df

def hist_box_maker(df,titl, num_of_rows, figx, figy):
    
    fig, axes = plt.subplots(num_of_rows, ceil((len(df.columns)*2)/num_of_rows), figsize=(figx, figy))
    temp = (list(df.columns)*2)
    temp.sort()
    # Plot data
    # Iterate across axes objects and associate each histogram (hint: use the ax.hist() instead of plt.hist()):
    i = 0 
    for ax, feat in zip(axes.flatten(), temp):
        
        if i%2 == 0:
            ax.hist(df[feat], bins = 50)
            ax.set_title(feat, y=-0.13)
            pltiswork=feat
            
        else:
            sns.boxplot(x=df[pltiswork], ax = ax)
        
        i+=1
            
    # Layout
    # Add a centered title to the figure:
    title = titl

    plt.suptitle(title)

    plt.show()# All Numer
    
    
def plot_importance(coef, name):
    imp_coef = coef.sort_values()
    plt.figure(figsize = (8,10))
    imp_coef.plot(kind = 'barh')
    plt.title('Feature Importance Using ' + name + ' Regression')
    plt.show()
    
def metrics(y_train, pred_train , y_val, pred_val):
    print('___________________________________________________________________________________________________________')
    print('                                                     TRAIN                                                 ')
    print('-----------------------------------------------------------------------------------------------------------')
    print(classification_report(y_train, pred_train))
    print(confusion_matrix(y_train, pred_train))


    print('___________________________________________________________________________________________________________')
    print('                                                VALIDATION                                                 ')
    print('-----------------------------------------------------------------------------------------------------------')
    print(classification_report(y_val, pred_val))
    print(confusion_matrix(y_val, pred_val))
def hist_box_maker(df,titl, num_of_rows, figx, figy):
    
    fig, axes = plt.subplots(num_of_rows, ceil((len(df.columns)*2)/num_of_rows), figsize=(figx, figy))
    temp = (list(df.columns)*2)
    temp.sort()
    # Plot data
    # Iterate across axes objects and associate each histogram (hint: use the ax.hist() instead of plt.hist()):
    i = 0 
    for ax, feat in zip(axes.flatten(), temp):
        
        if i%2 == 0:
            ax.hist(df[feat], bins = 100)
            ax.set_title(feat, y=-0.13)
            pltiswork=feat
            
        else:
            sns.boxplot(x=df[pltiswork], ax = ax)
        
        i+=1
            
    # Layout
    # Add a centered title to the figure:
    title = titl

    plt.suptitle(title)

    plt.show()# All Numeric Variables' Box Plots in one figure

### Import data

In [6]:
train = pd.read_excel("Train.xlsx")

# **Data Inspection**

In [7]:
train.head() #Data was imported correctly

,CITIZEN_ID,Name,Birthday,Native Continent,Marital Status,Lives with,Base Area,Education Level,Years of Education,Employment Sector,Role,Working Hours per week,Money Received,Ticket Price,Income
0,12486,Mr. Adam Glover,"July 1,2003",Europe,Married,Wife,Northbury,High School + PostGraduation,13,Private Sector - Services,Repair & constructions,40,0,2273,1
1,12487,Mr. Cameron McDonald,"January 25,2006",Europe,Married,Wife,Northbury,Professional School,12,Public Sector - Others,Repair & constructions,40,0,0,1
2,12488,Mr. Keith Davidson,"May 10,2009",Europe,Married,Wife,Northbury,Professional School,12,Private Sector - Services,Sales,46,0,2321,1
3,12489,Mr. Alexander Gill,"March 25,1985",Europe,Married,Wife,Northbury,High School - 2nd Cycle,11,Private Sector - Services,Security,37,5395,0,1
4,12490,Mr. Neil Piper,"May 29,2015",Europe,Single,Other Family,Northbury,PhD,21,Self-Employed (Individual),Professor,45,0,0,1

In [8]:
#No column seems to have, for now, a wrong dtype, except Birthday
train.dtypes

CITIZEN_ID                 int64
Name                      object
Birthday                  object
Native Continent          object
Marital Status            object
Lives with                object
Base Area                 object
Education Level           object
Years of Education         int64
Employment Sector         object
Role                      object
Working Hours per week     int64
Money Received             int64
Ticket Price               int64
Income                     int64
dtype: object

In [9]:
train.describe()

,CITIZEN_ID,Years of Education,Working Hours per week,Money Received,Ticket Price,Income
count,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000
mean,23685.500000,13.173884,40.483795,1324.915357,109.145313,0.237098
std,6466.467351,2.512451,12.370921,9227.771813,500.208904,0.425313
min,12486.000000,2.000000,1.000000,0.000000,0.000000,0.000000
25%,18085.750000,12.000000,40.000000,0.000000,0.000000,0.000000
50%,23685.500000,13.000000,40.000000,0.000000,0.000000,0.000000
75%,29285.250000,15.000000,45.000000,0.000000,0.000000,0.000000
max,34885.000000,21.000000,99.000000,122999.000000,5358.000000,1.000000

In [10]:
train.isna().sum() #No "immediate" missing values

CITIZEN_ID                0
Name                      0
Birthday                  0
Native Continent          0
Marital Status            0
Lives with                0
Base Area                 0
Education Level           0
Years of Education        0
Employment Sector         0
Role                      0
Working Hours per week    0
Money Received            0
Ticket Price              0
Income                    0
dtype: int64

### Data Treatment

#### Categorical Variables Treatment

Lets start to treat the object type variables.

Remember that no variables seemed to show missing values.

In [11]:
for i in ["Name", "Native Continent", "Marital Status", "Lives with", "Base Area", "Education Level", "Employment Sector", "Role"]:
    train[i] = train[i].astype("str")

In [12]:
train.dtypes

CITIZEN_ID                 int64
Name                      object
Birthday                  object
Native Continent          object
Marital Status            object
Lives with                object
Base Area                 object
Education Level           object
Years of Education         int64
Employment Sector         object
Role                      object
Working Hours per week     int64
Money Received             int64
Ticket Price               int64
Income                     int64
dtype: object

All seems fine.
However in order to use Native Continent on our models we will need to later perform one hot encoding.
We can't use label encoding since the categories aren't ordered and we would be inducing orders or hierarchies were they don't exist.

In [13]:
train['Native Continent'].value_counts()

Europe     19111
Africa      2187
Asia         699
America      219
Oceania      184
Name: Native Continent, dtype: int64

These values can be turned into binary variables which describe if the person is married, not married (anymore), or never married.
This will allow us to have a better significance in our resuls (meaning, not a huge amount of 0s in binary variables), which we would
have if we proceed to make one hot encoding right now. 
We will make this change later in the feature engineering step.

In [14]:
train['Marital Status'].value_counts()

Married                         10219
Single                           7416
Divorced                         3072
Separated                         699
Widow                             696
Married - Spouse Missing          284
Married - Spouse in the Army       14
Name: Marital Status, dtype: int64

These values can be turned into binary variables. For being able to do so, we will primarily turn the values "Husband" and "Wife" in "Spouse" and "Other Family"
and "Other relatives" in only 1 value as they seem to have the same meaning.
We will make this change later in the feature engineering step.

In [15]:
train['Lives with'].value_counts()

Wife               9012
Other Family       5777
Children           3519
Alone              2362
Husband            1049
Other relatives     681
Name: Lives with, dtype: int64

We have '?' values, wich are clearly missing values, so we have to turn them into ones.
With the high number of missing values, we will probably need to use techniques to fill missing values, for example, the KNN
We also believe we cannot make one hot encoding in this variable otherwise we would create too many variables and they would loose their significance.
However, it is important to highlight that we have a lot of observations with the value Northbury, which means that if we have to make only a binary column with this variable it will have a good representation on the dataset.

In [16]:
train['Base Area'].value_counts()

Northbury        20074
Fanfoss            443
?                  395
Alverton           135
Butterpond          96
Watford             83
Auchenshuggle       80
Pran                77
Sharnwick           70
Aroonshire          64
Laewaes             63
Fool's March        59
Eelry               56
Wigston             56
Sharpton            54
Lanercost           52
Cherrytown          51
Aerilon             45
King's Watch        44
Bellmoral           40
Kirkwall            40
Knife's Edge        37
Laenteglos          32
Tranmere            30
Drumchapel          25
Aberuthven          23
Orilon              22
Kald                19
Carlisle            18
MillerVille         17
Willesden           16
Lewes               16
Conriston           12
Marnmouth           11
Middlesbrough       10
Mensfield            9
Woodpine             9
Bellenau             8
Redwick Bush         8
Ironforge            1
Name: Base Area, dtype: int64

The categories seem to be good! We believe that a distinction as deep as the one presented is not needed, and so, we will
group some variables as the latest education a person has received.
As we are dealing with Ordinal data, meaning, the variables have a natural order, for example, a PhD is valued higher than a high school degree, we will create a variable that contains the categories representing the education qualification, in integer values, as the algorithm can process these values as an order.
We will make this change later in the feature engineering step.

In [17]:
train['Education Level'].value_counts()

Professional School                     7232
High School + PostGraduation            4994
Bachelors + PostGraduation              3696
Masters                                 1193
Professional School + PostGraduation     953
High School - 2nd Cycle                  809
Bachelors                                735
High School - 1st Cycle                  649
Middle School - 2nd Cycle                432
Masters + PostGraduation                 397
Middle School Complete                   342
PhD                                      289
High School Complete                     287
Middle School - 1st Cycle                237
Primary School                           122
Preschool                                 33
Name: Education Level, dtype: int64

Has the same missing values problem as before, meaning, when there is missing data it is represented by a "?".
The categories have information about big groups of values (private sector, public sector, etc), so we will retrieve this information in a more correct and larger way.
After doing so, we will probably have to reach to some type of data encoding technique in order to be able to use this information in our model.
We will make this change later in the feature engineering step.

In [18]:
train['Employment Sector'].value_counts()

Private Sector - Services     15599
Self-Employed (Individual)     1764
Public Sector - Others         1419
?                              1264
Private Sector - Others         880
Self-Employed (Company)         763
Public Sector - Government      692
Unemployed                       12
Never Worked                      7
Name: Employment Sector, dtype: int64

Has the same missing values problem as before, meaning, when there is missing data it is represented by a "?".
The grouping of information (in order to be able to have encoding) in this variable is difficult to tackle.
We will probably use the sectors of the economy to make some type of encoding in this variable.
We will make this change later in the feature engineering step.

In [19]:
train['Role'].value_counts()

Professor                         2849
Management                        2797
Repair & constructions            2795
Administratives                   2608
Sales                             2531
Other services                    2287
Machine Operators & Inspectors    1384
?                                 1271
Transports                        1071
Cleaners & Handlers                922
Agriculture and Fishing            702
IT                                 626
Security                           450
Household Services                 102
Army                                 5
Name: Role, dtype: int64

As the name is not very important in our analysis, we will proceed on removing the first word from the name, meaning, the gender the person identifies with and we will create a variable with information about the gender.
We will make this change later in the feature engineering step.

In [20]:
train['Name'].head()

0         Mr. Adam Glover
1    Mr. Cameron McDonald
2      Mr. Keith Davidson
3      Mr. Alexander Gill
4          Mr. Neil Piper
Name: Name, dtype: object

Clearly some transformations are needed, if we want to use this variable we will have to do some engineering.

In [21]:
train['Birthday'].head()

0         July 1,2003
1     January 25,2006
2         May 10,2009
3       March 25,1985
4         May 29,2015
Name: Birthday, dtype: object

In [22]:
#Turning the "?" in missing value np.nan
questionmark_to_nan(train, 'Base Area') 
questionmark_to_nan(train, 'Employment Sector') 
questionmark_to_nan(train, 'Role') 

#Checking whether there are more categorical variables with "?" values
for i in ["Name", "Native Continent", "Marital Status", "Lives with", "Base Area", "Education Level", "Employment Sector", "Role"]:
  print(train[i].str.contains('?', regex = False).sum())

0
0
0
0
0
0
0
0

#### Numeric Variables Treatment

Since no variables showed *immediate* missing values, on the variables whose data type is float or int, we know that we won't have the problem of '?' missing values, otherwise the variables would be of object data type.

However we still have to check these variables to know if there are some immediate incoherences.

In [23]:
train.dtypes

CITIZEN_ID                 int64
Name                      object
Birthday                  object
Native Continent          object
Marital Status            object
Lives with                object
Base Area                 object
Education Level           object
Years of Education         int64
Employment Sector         object
Role                      object
Working Hours per week     int64
Money Received             int64
Ticket Price               int64
Income                     int64
dtype: object

In [24]:
#No repeated Citizen ID's
(train['CITIZEN_ID'].value_counts()>1).sum()

0

**Assumption:**If the Citizen ID follows the normal order of atribution of ID after being recognized the citizenship, we know which citizens were the first to arrive, as their ID's will have a smaller value.

O q fazemos em relação a isto????????????????????????????????????????????????????????????????

In [25]:
#??????
#train.drop(columns = ['CITIZEN_ID']).describe()

# **Coherence Checks**

In [26]:
#It makes no sense to have negative values in the following numerical variables.
print("Number of negative values:")
for i in ["Years of Education", "Working Hours per week", "Money Received", "Ticket Price", "Income"]:
    print(i,":", ((train[i]<0).sum()))
#All seems to be good!

Number of negative values:
Years of Education : 0
Working Hours per week : 0
Money Received : 0
Ticket Price : 0
Income : 0

No values below 0. For now everything looks fine.

Considering the average, std and min and max values of *Years of Education* and *Working Hours per week*, there definitely seem to be some outliers, but we will check this with more detail later. Since most values of *Money Received* and *Ticket Price* are 0, we can't talk about its outliers right now. (Isto ja n faz sentido sem o describe, apagar?)

In [27]:
train[(train['Money Received']>0) & (train['Ticket Price']>0)]

Empty DataFrame
Columns: [CITIZEN_ID, Name, Birthday, Native Continent, Marital Status, Lives with, Base Area, Education Level, Years of Education, Employment Sector, Role, Working Hours per week, Money Received, Ticket Price, Income]
Index: []

In the clause above we can see that there are no records that show people that have simultanously paid to go to Newland (belonging to Group C) and that have been paid to go to Newland (therefore belonging to Group B)

In [28]:
train[(train['Money Received']>=0) & (train['Ticket Price']>=0)].shape[0]

22400

This shows us that the data for these columns is correct!

In [29]:
train[(train['Education Level'] == 'EQF4') & (train['Years of Education'] < 12)]

Empty DataFrame
Columns: [CITIZEN_ID, Name, Birthday, Native Continent, Marital Status, Lives with, Base Area, Education Level, Years of Education, Employment Sector, Role, Working Hours per week, Money Received, Ticket Price, Income]
Index: []

In [30]:
train[(train['Education Level'] == 'EQF5') & (train['Years of Education'] < 12)]

Empty DataFrame
Columns: [CITIZEN_ID, Name, Birthday, Native Continent, Marital Status, Lives with, Base Area, Education Level, Years of Education, Employment Sector, Role, Working Hours per week, Money Received, Ticket Price, Income]
Index: []

In [31]:
train[(train['Education Level'] == 'EQF6') & (train['Years of Education'] < 15)]

Empty DataFrame
Columns: [CITIZEN_ID, Name, Birthday, Native Continent, Marital Status, Lives with, Base Area, Education Level, Years of Education, Employment Sector, Role, Working Hours per week, Money Received, Ticket Price, Income]
Index: []

In [32]:
#train[(train['Education Level'] == 'EQF7') & (train['Years of Education'] < 17)]

In [33]:
train[(train['Education Level'] == 'EQF8') & (train['Years of Education'] < 19)]

Empty DataFrame
Columns: [CITIZEN_ID, Name, Birthday, Native Continent, Marital Status, Lives with, Base Area, Education Level, Years of Education, Employment Sector, Role, Working Hours per week, Money Received, Ticket Price, Income]
Index: []

In [34]:
# train[train['Working hours per week'] > 168]

# **Data Transformation**

#### Birthday to age transformation

We have the birthday of each person, but more usefull to estimate the model is their age.

However before we calculate the age we have to do some transformations to the birthday variable.

We will calculate the age having in to account that we are on the year 2048, and we don't know the current month or day.

In [35]:
train['Birthday'].head()

0         July 1,2003
1     January 25,2006
2         May 10,2009
3       March 25,1985
4         May 29,2015
Name: Birthday, dtype: object

In [36]:
#First we extract the year of each birthday in to a new column
train["YOB"] = train['Birthday'].str.split(' ', n = 2, expand = True)[2].str.split(',', n = 1, expand = True)[1]

In [37]:
train["YOB"].head()

0    2003
1    2006
2    2009
3    1985
4    2015
Name: YOB, dtype: object

In [38]:
train['YOB'] = train['YOB'].astype('int64') #Turns year of birth in to dtype int

In [39]:
birthday_to_age(train, 'YOB', 'Age') #Turns year of birth to age

In [40]:
train[['Age']].describe().T #All seems fine

       count       mean        std   min   25%   50%   75%   max
Age  22400.0  38.584866  13.651578  17.0  28.0  37.0  48.0  90.0

In [41]:
#And we drop the columns we will no longer need
train.drop(columns = ['Birthday', 'YOB'], inplace = True)

Age - Coherence Check

In [42]:
train[train['Age'] < 17]

Empty DataFrame
Columns: [CITIZEN_ID, Name, Native Continent, Marital Status, Lives with, Base Area, Education Level, Years of Education, Employment Sector, Role, Working Hours per week, Money Received, Ticket Price, Income, Age]
Index: []

#### Base Area -> Northbury

There are a lot of base areas, however most observations belong to Northbury, so instead of using one hot encoding and proceding with all the values, we will just proced with a variable that signals whether the person is of Northbury or not.

MESMO ASSIM SERIA FIXE FAZER ONE HOT ENCODING E DPS FEATURE SELECTION PARA GARANTIR QUE REALMENTE SO A NORTHBURY DEVA FICAR

In [43]:
train['Northbury'] = train['Base Area'].map(lambda x: 1 if x == 'Northbury' else 0)

#Não esquecer fazer inut NA antes disto
#No entnto pode não ser necessário!!!!!!!!!!!!!!!!!!

In [44]:
train['Northbury'].value_counts()

1    20074
0     2326
Name: Northbury, dtype: int64

In [45]:
train.drop(columns = ['Base Area'], inplace = True)

#### Name -> Gender -> Male

It doesn't make sense to model using the different names in the dataset, however with the first byte of each one (for example: Mrs.) we can conclude quite easily the gender of each person. Having the gender we can then create a variable that signals all the males.

In [46]:
train['Gender'] = train['Name'].str.split(' ', n = 1, expand = True)[0]

In [47]:
train['Gender'].value_counts()

Mr.     14971
Mrs.     4117
Miss     3312
Name: Gender, dtype: int64

In [48]:
train['Male'] = train['Gender'].map(lambda x: 1 if x == 'Mr.' else 0)

In [49]:
train['Male'].value_counts()

1    14971
0     7429
Name: Male, dtype: int64

In [50]:
train.drop(columns = ['Name', 'Gender'], inplace = True)

### *Lives with* and *Marital Status*

In [51]:
train['Marital Status'] = train['Marital Status'].map(lambda x: 'Married' if ((x == 'Married - Spouse Missing') | (x == 'Married - Spouse in the Army') ) else x)
train['Marital Status'] = train['Marital Status'].map(lambda x: 'Not Married' if ((x == 'Divorced')  | (x == 'Separated') | (x == 'Widow')) else x)
train['Marital Status'] = train['Marital Status'].map(lambda x: 'Never Married' if ((x == 'Single') ) else x)

There are no weird values and one hot encoding will be needed for the same reasons as in the previous variable.

However some values seem to specific and have very little representation on the observations, so we will "standardize" this values: "Married - Spouse Missing" and "Married - Spouse in the Army" will be changed to "Married".

There is no point in discretizing between living with Wife or Husband, so we will aggregate it in Spouse. Same thing with other relatives and Other Family.

In [52]:
train['Lives with'] = train['Lives with'].map(lambda x: 'Spouse' if ((x == 'Wife') | (x == 'Husband')) else x)
train['Lives with'] = train['Lives with'].map(lambda x: 'Other Family' if (x == 'Other relatives') else x)

In [53]:
train.dtypes

CITIZEN_ID                 int64
Native Continent          object
Marital Status            object
Lives with                object
Education Level           object
Years of Education         int64
Employment Sector         object
Role                      object
Working Hours per week     int64
Money Received             int64
Ticket Price               int64
Income                     int64
Age                        int64
Northbury                  int64
Male                       int64
dtype: object

### Education Level

- https://en.wikipedia.org/wiki/Education_in_the_United_States
- http://internacional.ipvc.pt/sites/default/files/Diagrama_SESP_EQF_PT1.pdf
- https://europa.eu/europass/pt/description-eight-eqf-levels

Division will have to be made top to bottom. Meaning, if it appears "Masters" and "PostGraduation", we will treat first "Masters" to make sure we have the maximum education first.

In [54]:
train["Education Level"].value_counts()

Professional School                     7232
High School + PostGraduation            4994
Bachelors + PostGraduation              3696
Masters                                 1193
Professional School + PostGraduation     953
High School - 2nd Cycle                  809
Bachelors                                735
High School - 1st Cycle                  649
Middle School - 2nd Cycle                432
Masters + PostGraduation                 397
Middle School Complete                   342
PhD                                      289
High School Complete                     287
Middle School - 1st Cycle                237
Primary School                           122
Preschool                                 33
Name: Education Level, dtype: int64

In [55]:
#Solução 1 - Fazer por grupos que nós considerarmos certos. Aqui estão os que eu acho que ficam bem, mas é perfeitamente alterável
train['Education Level'] = train['Education Level'].map(lambda x: 'Masters' if ("Masters" in x) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'PostGraduation' if ("PostGraduation" in x) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'Incomplete High School' if ((x== "High School - 2nd Cycle") | (x== "High School - 1st Cycle")) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'Less than Middle School' if ((x=="Middle School - 2nd Cycle") | (x== "Middle School - 1st Cycle") | (x== "Primary School") |(x== "Preschool" )) else x)
train['Education Level'] = train['Education Level'].map(lambda x: '<HighSchool' if ((x=="Incomplete High School") | (x== "Less than Middle School") | (x== "Middle School Complete")) else x)
train["Education Level"].value_counts()

PostGraduation          9643
Professional School     7232
<HighSchool             2624
Masters                 1590
Bachelors                735
PhD                      289
High School Complete     287
Name: Education Level, dtype: int64

In [56]:
#Solução 2 - Fazer por grupos instituidos pela UE (ver link acima). Se assim o fizermos, sabemos por exemplo que a professional school está acima da highschool!
train['Education Level'] = train['Education Level'].map(lambda x: 'EQF3 or less' if ((x=="<HighSchool")) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'EQF4' if ((x=="High School Complete")) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'EQF5' if ((x=="Professional School")) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'EQF6' if ((x=="Bachelors")) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'EQF7' if ((x=="Masters") | (x== "PostGraduation")) else x)
train['Education Level'] = train['Education Level'].map(lambda x: 'EQF8' if ((x=="PhD")) else x)
train["Education Level"].value_counts()

EQF7            11233
EQF5             7232
EQF3 or less     2624
EQF6              735
EQF8              289
EQF4              287
Name: Education Level, dtype: int64

### Profession

In [57]:
train["Employment Sector"] = train["Employment Sector"].astype("str")
train["Employment Sector"].value_counts()

Private Sector - Services     15599
Self-Employed (Individual)     1764
Public Sector - Others         1419
nan                            1264
Private Sector - Others         880
Self-Employed (Company)         763
Public Sector - Government      692
Unemployed                       12
Never Worked                      7
Name: Employment Sector, dtype: int64

In [58]:
train["Employment Sector"]= train["Employment Sector"].map(lambda x: 'Private Sector' if ("Private Sector" in x) else x)
train["Employment Sector"]= train["Employment Sector"].map(lambda x: 'Public Sector' if ("Public Sector" in x) else x)
train["Employment Sector"]= train["Employment Sector"].map(lambda x: 'Self Employed' if ("Self-Employed" in x) else x)
train['Employment Sector'] = train['Employment Sector'].map(lambda x: 'Not Working' if ((x=="Unemployed") | (x== "Never Worked")) else x)
train['Employment Sector'] = train['Employment Sector'].map(lambda x: np.nan if ((x=="nan")) else x)

In [59]:
train["Employment Sector"].value_counts()

Private Sector    16479
Self Employed      2527
Public Sector      2111
Not Working          19
Name: Employment Sector, dtype: int64

### Role

In [60]:
train["Role"].value_counts()

Professor                         2849
Management                        2797
Repair & constructions            2795
Administratives                   2608
Sales                             2531
Other services                    2287
Machine Operators & Inspectors    1384
Transports                        1071
Cleaners & Handlers                922
Agriculture and Fishing            702
IT                                 626
Security                           450
Household Services                 102
Army                                 5
Name: Role, dtype: int64

1st Sector: Agriculture and Fishing <br> 
2nd Sector:Repair & constructions, Machine Operators & Inspectors <br>
3rd Sector: Administratives, Sales, Other services, Transports, Cleaners & Handlers, Household Services, Security, Army <br> 
4th Sector: Quaternário: IT, Professor, Management <br>

In [61]:
train["Role"]= train["Role"].map(lambda x: '1st Sector' if ((x=="Agriculture and Fishing")) else x)
train["Role"]= train["Role"].map(lambda x: '2nd Sector' if ((x=="Repair & constructions") | (x== "Machine Operators & Inspectors"))else x)
train["Role"]= train["Role"].map(lambda x: '3rd Sector' if ((x== "Administratives")| (x== "Sales")| (x== "Other services")| (x== "Transports")| (x== "Cleaners & Handlers")| (x== "Household Services")| (x== "Security")| (x== "Army"))else x)
train["Role"]= train["Role"].map(lambda x: '4th Sector' if ((x=="IT") | (x== "Professor")| (x== "Management"))else x)

In [62]:
train["Role"].value_counts()

3rd Sector    9976
4th Sector    6272
2nd Sector    4179
1st Sector     702
Name: Role, dtype: int64

### Ticket Price and Money

As for the description of the project, we have noticed that ticket price represents the information of how much someone payed to go to the planet, and, money received represents the money someone was payed to go to Newland. 

Given so, we consider that both variables represent the same thing but in different directions. We will then proceed to join both, adding the inverse sign to one of them (mudaria a descrição ligeiramente)

In [63]:
train["MONEY_TICKET"] = train["Money Received"].map(lambda x: -x ) + train["Ticket Price"]

In [64]:
train["Native Continent"].value_counts()

Europe     19111
Africa      2187
Asia         699
America      219
Oceania      184
Name: Native Continent, dtype: int64

Money Received and Ticket Price Binary

In [65]:
train['Money_Received_Binary'] = train['Money Received'].map(lambda x: 1 if x > 0 else 0)

train['Ticket_Price_Binary'] = train['Ticket Price'].map(lambda x: 1 if x > 0 else 0)

train['Money_Ticket_Binary'] = train['Money_Received_Binary'] + train['Ticket_Price_Binary']

# **Missing Values Imputation**

In [66]:
((train.isna().sum())/(train.shape[0])*100)

CITIZEN_ID                0.000000
Native Continent          0.000000
Marital Status            0.000000
Lives with                0.000000
Education Level           0.000000
Years of Education        0.000000
Employment Sector         5.642857
Role                      5.674107
Working Hours per week    0.000000
Money Received            0.000000
Ticket Price              0.000000
Income                    0.000000
Age                       0.000000
Northbury                 0.000000
Male                      0.000000
MONEY_TICKET              0.000000
Money_Received_Binary     0.000000
Ticket_Price_Binary       0.000000
Money_Ticket_Binary       0.000000
dtype: float64

In [139]:
#Copy dataframe
mv_imputation = train.copy()

In [140]:
#"Encode" the variables with missing values
mv_imputation['Employment Sector'] = mv_imputation['Employment Sector'].map(lambda x: 0 if (x == 'Private Sector')
                              else 1 if x == ('Public Sector')
                              else 2 if x == ('Self Employed')
                              else 3 if x == ('Not Working')
                              else x)

mv_imputation['Role'] = mv_imputation['Role'].map(lambda x: 0 if (x == '1st Sector')
                              else 1 if x == ('2nd Sector')
                              else 2 if x == ('3rd Sector')
                              else 3 if x == ('4th Sector')
                              else x)

In [141]:
#Split data between rows with and without missing values
to_impute_ES = mv_imputation[mv_imputation['Employment Sector'].isna()].copy()
to_train_ES = mv_imputation[~mv_imputation['Employment Sector'].isna()].copy()

#Define independent variables
independent_var = ['Years of Education', 'Working Hours per week', 'MONEY_TICKET', 'Age']

#Split data
MV_train, MV_val, ES_train, ES_val = train_test_split(to_train_ES[independent_var], to_train_ES['Employment Sector'], test_size = 0.40, stratify = to_train_ES['Employment Sector'], random_state = 15)

#Standardize the data
min_max_MV = MinMaxScaler().fit(MV_train)
MV_train[MV_train.columns.to_list()] = min_max_MV.transform(MV_train)
MV_val[MV_val.columns.to_list()] = min_max_MV.transform(MV_val) 

#Define and fit the model
nn_ES = MLPClassifier(hidden_layer_sizes = (5,5), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 3).fit(MV_train,ES_train)

#Print all the scores
print('The training score for Employment Sector is :' ,nn_ES.score(MV_train,ES_train))
print('The validation score for Employment Sector is :',nn_ES.score(MV_val,ES_val))
print('With the mode the training set score would be ', (ES_train == to_train_ES["Employment Sector"].mode()[0]).sum() / ES_train.shape[0])
print('With the mode the validation set score would be ',(ES_val == to_train_ES["Employment Sector"].mode()[0]).sum() / ES_val.shape[0])

#Split data between rows with and without missing values
to_impute_R = mv_imputation[mv_imputation['Role'].isna()].copy()
to_train_R = mv_imputation[~mv_imputation['Role'].isna()].copy()

#Split data
MV_train, MV_val, R_train, R_val = train_test_split(to_train_R[independent_var], to_train_R['Role'], test_size = 0.40, stratify = to_train_R['Role'], random_state = 15)

#Standardize the data
min_max_MV = MinMaxScaler().fit(MV_train)
MV_train[MV_train.columns.to_list()] = min_max_MV.transform(MV_train)
MV_val[MV_val.columns.to_list()] = min_max_MV.transform(MV_val) 

#Define and fit the model
nn_R = MLPClassifier(hidden_layer_sizes = (5,5), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 3).fit(MV_train,R_train)

#Print all the scores
print('The training score for Role is :' ,nn_R.score(MV_train,R_train))
print('The validation score for Role is :',nn_R.score(MV_val,R_val))
print('With the mode the training set score would be ', (R_train == to_train_R["Role"].mode()[0]).sum() / R_train.shape[0])
print('With the mode the validation set score would be ',(R_val == to_train_R["Role"].mode()[0]).sum() / R_val.shape[0])

The training score for Employment Sector is : 0.7792760823278921
The validation score for Employment Sector is : 0.7808397397989355
With the mode the training set score would be  0.7796703729989748
With the mode the validation set score would be  0.7796570076877587
The training score for Role is : 0.5794746391101996
The validation score for Role is : 0.5778513961192617
With the mode the training set score would be  0.47219373668849096
With the mode the validation set score would be  0.4720776147657359

In [142]:
#Impute the missing values

mv_imputation['Employment Sector'][mv_imputation['Employment Sector'].isna()] = nn_ES.predict(to_impute_ES[independent_var])
mv_imputation['Role'][mv_imputation['Role'].isna()] = nn_R.predict(to_impute_R[independent_var])


#Turn the values to their original categories
mv_imputation['Employment Sector'] = mv_imputation['Employment Sector'].map(lambda x: 'Private Sector' if (x == 0)
                              else 'Public Sector' if (x == 1)
                              else 'Self Employed' if (x == 2)
                              else 'Not Working' if (x == 3)
                              else x)

mv_imputation['Role'] = mv_imputation['Role'].map(lambda x: '1st Sector' if (x == 0)
                              else '2nd Sector' if (x == 1)
                              else '3rd Sector' if (x == 2)
                              else '4th Sector' if (x == 3)
                              else x)

In [143]:
#Quando quisermos usar esta imputation
#Atenção que é preciso voltar a confirmar tudo das correlações e da feature selection
#Por favor so usar isto dps de ja termos bue modelos feitos para podermos "contar uma historia" no report
#No entanto duvido que melhore alguma coisa!!!

#train = mv_imputation.copy()

In [ ]:
train["Employment Sector"]= train["Employment Sector"].fillna(train["Employment Sector"].mode()[0])
train["Role"]= train["Role"].fillna(train["Role"].mode()[0])

In [ ]:
((train.isna().sum())/(train.shape[0])*100)

# **Data Encoding**

In [ ]:
train_encoding = train.copy()

In [ ]:
print("Number of Categories in: ")
for ColName in train[['Native Continent','Marital Status','Lives with', "Employment Sector","Role"]]:
    print("{} = {}".format(ColName,len(train[ColName].unique())))

#### One Hot Encoding

In [ ]:
one_hot_var = ohe(train_encoding, ['Native Continent', 'Marital Status', 'Lives with', "Employment Sector", "Role"])

In [ ]:
train_encoding = pd.concat([train_encoding.drop(columns = ['Native Continent', 'Marital Status', 'Lives with', "Employment Sector", "Role"]), one_hot_var], axis = 1)

In [ ]:
train_encoding.columns

#### Label Encoding

In [ ]:
train_encoding["Education Level"].value_counts()

In [ ]:
# create object of Ordinalencoding
encoder= ce.OrdinalEncoder(cols=['Education Level'],return_df=True, mapping=[{'col':'Education Level','mapping':{'EQF3 or less':0,'EQF4':1,'EQF5':2,'EQF6':3,'EQF7':4,'EQF8':5}}])

#fit and transform train data 
train_encoding = encoder.fit_transform(train_encoding)

In [ ]:
train_encoding = train_encoding.rename(columns={"Native Continent": "CONTINENT", "Lives with": "LIVES_WITH", 'Education Level': "EDUCATION_LVL",
                      'Years of Education': "YEARS_EDUCATION", 'Employment Sector': "EMPLOY_SECTOR", 'Role': "ECON_SECTOR",
                      'Working Hours per week': "WORKING_HOURS", 'Income': "INCOME",'Marital Status': "MARITAL_STATUS" })

In [ ]:
train = train_encoding.copy()

In [ ]:
#######################Falta PCA
#######################Mas acho que so devia ser feito dps de ja termos alguns modelos basicos
#######################Em termos de report acho que não vale a pena termos logo um bom modelo, acho que faz muito mais
#######################sentido fazermos primeiro tudo basico, fazer modelos e dps pensar em como os melhorar e ir 
#######################testando e melhorndo e anotando tudo para n perdermos nada no report
#######################PLS N APAGUEM MESMO NADA QUE FIZERAM OU Q OS OUTROS FIZERAM SEM TODOS CONCORDAREM
#######################BASTA POR EM COMENTARIO OU "FAZER POR CIMA"

## Outlier analysis

In [ ]:
train.columns

In [ ]:
train_num = train[['YEARS_EDUCATION','WORKING_HOURS','Money Received','Ticket Price','Age']]

In [ ]:
hist_box_maker(train_num,'Outlier analysis',5,20,20)

In [ ]:
hist_box_maker(train_num[['Money Received']][(train_num['Money Received'] != 0)],'Outlier analysis',1,10,5)

In [ ]:
hist_box_maker(train_num[['Ticket Price']][(train['Ticket Price'] != 0)],'Outlier analysis',1,10,5)

In [ ]:
filters_train = (
                    (train['Age'] > 89) |
                    (train['Money Received'] > 30000) |
                    (train['Ticket Price'] > 4000) |
                    (train['WORKING_HOURS'] > 95) |
                    (train['YEARS_EDUCATION'] > 20)
                                                          )

In [ ]:
#Dataframe with outliers

train_out = train.copy()

In [ ]:
train[(~(filters_train))].shape[0] /train.shape[0]

In [ ]:
train=train[(~(filters_train))]

### **Filter methods**

### Correlation Feature Selection

In [ ]:
train_corr=train[train_num.columns.to_list()].corr(method = "pearson")
plt.figure(figsize=(20,20))
sns.heatmap(data = train_corr, annot = True, cmap=sns.diverging_palette(220, 10, as_cmap=True), fmt='.2',  vmin=-1, vmax=1, center=0,square=True )

In [ ]:
train_corr=train.corr(method = "spearman")
plt.figure(figsize=(20,20))
sns.heatmap(data = train_corr, annot = True, cmap=sns.diverging_palette(220, 10, as_cmap=True), fmt='.2',  vmin=-1, vmax=1, center=0,square=True )

#Acho que tmb devíamos fazer aquela matriz de scatter plots e histogramas, o que iria substituir os histogramas em cima
#e teríamos de fazer os boxplots na mesma

#Não esquecer que para comparar binárias, se n me engano, uma matriz espécie TP, TN tmb era fixe

In [ ]:
train.drop(columns =["EDUCATION_LVL", "x1_Married", "CITIZEN_ID", "x0_Africa"], inplace = True)

In [ ]:
binary = train.drop(columns = ['YEARS_EDUCATION', 'WORKING_HOURS', 'Money Received', 'Ticket Price', 'Age', 'INCOME','MONEY_TICKET']).columns.to_list()

In [ ]:
train.columns

https://heartbeat.fritz.ai/hands-on-with-feature-selection-techniques-filter-methods-f248e0436ce5

In [ ]:
chi2_score, chi_2_p_value = chi2(train[binary], train['INCOME'])
f_score, f_p_value = f_classif(train[train.drop(columns=binary).columns.to_list()],train['INCOME'])
print('Binary Columns: ', train[binary].columns)
print('Metric Columns: ', train.drop(columns=binary).columns)
print('chi2 score        ', chi2_score)
print('chi2 p-value      ', chi_2_p_value)
print('F - score score   ', f_score)
print('F - score p-value ', f_p_value)

In [ ]:
#variables to drop due to chi-squared
train.drop(columns =["Northbury", 'x0_Asia', 'x3_Not Working'], inplace = True)

In [ ]:
#variables to drop due to multicoliniarity
train.drop(columns =['x2_Alone', 'x4_3rd Sector'], inplace = True)

### Train test Split

In [ ]:
X = train.drop(columns = ['INCOME'])
y = train['INCOME']

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.40, stratify = y, random_state = 15)
X_val, X_test, y_val, y_test = train_test_split(X_val, y_val, test_size = 0.50, stratify = y_val, random_state = 15)

In [ ]:
min_max = MinMaxScaler().fit(X_train)
X_train[X_train.columns.to_list()] = min_max.transform(X_train)
X_val[X_val.columns.to_list()] = min_max.transform(X_val) 
X_test[X_test.columns.to_list()] = min_max.transform(X_test)

In [ ]:
#Df's to be used

X_train_Original = X_train.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])
X_val_Original = X_val.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])
X_test_Original = X_test.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_MTB = X_train.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])
X_val_MTB = X_val.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])
X_test_MTB = X_test.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_MT = X_train.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])
X_val_MT = X_val.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])
X_test_MT = X_test.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])

# **Feature Selection**

Não esquecer que devemos especificar um random state para cada função/algoritmo para ter resultados consistentes.

https://xgboost.readthedocs.io/en/latest/tutorials/model.html
https://www.datacamp.com/community/tutorials/xgboost-in-python

<img src="feature_selection2..png" alt="feature_selection_logic" width="700" height="700"  align="center">

https://towardsdatascience.com/feature-selection-techniques-for-classification-and-python-tips-for-their-application-10c0ddd7918b

In [ ]:
binary_original = X_train_Original.drop(columns = ['YEARS_EDUCATION', 'WORKING_HOURS', 'Money Received', 'Ticket Price', 'Age']).columns.to_list()

In [ ]:
# não mexam nisto tenho quase a certeza absoluta que funciona e que e assim que se faz mas vou pesquizar melhor
fs = SelectKBest(score_func=chi2, k='all')
fs.fit(X_train_Original[binary_original], y_train)
X_train_fs = fs.transform(X_train_Original[binary_original])
names=list(X_train_Original[binary_original].columns)
print(fs)

df_scores_chi2 = pd.DataFrame(list(zip(names, fs.scores_)), columns =['Variable', 'Score']).sort_values(by = ["Score"], ascending = False)
print(df_scores_chi2)

# plot the scores
plt.bar([i for i in range(len(fs.scores_))], fs.scores_)
plt.show()

### **Wrapper method**

https://www.analyticsvidhya.com/blog/2020/10/a-comprehensive-guide-to-feature-selection-using-wrapper-methods-in-python/

In [ ]:
################Qnd decidirmos se utilizamos isto passar os imports pa cima################

from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE


#Pq n o RFECV

#Acho que deviamos acrescentar tmb repeated stratifiedkfold aqui, como mostra o link em baixo
#https://machinelearningmastery.com/rfe-feature-selection-in-python/

# nro of features
nof_list=np.arange(1,22)            
high_score=0
# Variable to store the optimum features
nof=0           
score_list =[]
for n in range(len(nof_list)):

    X_train_rfe, X_rfe_val, y_train_rfe, y_rfe_val = train_test_split(X_train_Original[binary_original], y_train, test_size = 0.2, stratify = y_train,
                                                                      random_state = 15)
    
    model_rfe = LogisticRegression(random_state = 5)
    rfe = RFE(model_rfe,nof_list[n])
    X_train_rfe = rfe.fit_transform(X_train_rfe,y_train_rfe)
    X_rfe_val = rfe.transform(X_rfe_val)
    
    model_rfe.fit(X_train_rfe,y_train_rfe)
    
    score = model_rfe.score(X_rfe_val,y_rfe_val)
    score_list.append(score)
    
    if(score>high_score):
        high_score = score
        nof = nof_list[n]
        

print("Optimum number of features: %d" %nof)
print("Score with %d features: %f" % (nof, high_score))

In [ ]:
N = 1
model_rfe = LogisticRegression(random_state = 5)
rfe = RFE(estimator = model_rfe, n_features_to_select = N)
X_rfe = rfe.fit_transform(X = X_train_Original[binary_original], y = y_train) 

selected_features_rfe = pd.Series(rfe.ranking_, index = X_train_Original[binary_original].columns)
selected_features_rfe.sort_values()

In [ ]:
################Qnd decidirmos se utilizamos isto passar os imports pa cima################

from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE


#Pq n o RFECV

#Acho que deviamos acrescentar tmb repeated stratifiedkfold aqui, como mostra o link em baixo
#https://machinelearningmastery.com/rfe-feature-selection-in-python/

# nro of features
nof_list=np.arange(1,22)            
high_score=0
# Variable to store the optimum features
nof=0           
score_list =[]
for n in range(len(nof_list)):

    X_train_rfe, X_rfe_val, y_train_rfe, y_rfe_val = train_test_split(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train, test_size = 0.2, stratify = y_train,
                                                                      random_state = 15)
    
    model_rfe = DecisionTreeClassifier(random_state = 5)
    rfe = RFE(model_rfe,nof_list[n])
    X_train_rfe = rfe.fit_transform(X_train_rfe,y_train_rfe)
    X_rfe_val = rfe.transform(X_rfe_val)
    
    model_rfe.fit(X_train_rfe,y_train_rfe)
    
    score = model_rfe.score(X_rfe_val,y_rfe_val)
    score_list.append(score)
    
    if(score>high_score):
        high_score = score
        nof = nof_list[n]
        

print("Optimum number of features: %d" %nof)
print("Score with %d features: %f" % (nof, high_score))

In [ ]:
N = 1
model_rfe = DecisionTreeClassifier(random_state = 5)
rfe = RFE(estimator = model_rfe, n_features_to_select = N)
X_rfe = rfe.fit_transform(X = X_train_Original.drop(columns=X_train_Original[binary_original]), y = y_train) 

selected_features_rfe = pd.Series(rfe.ranking_, index = X_train_Original.drop(columns=X_train_Original[binary_original]).columns)
selected_features_rfe.sort_values()

In [ ]:
N = 1
model_rfe = LogisticRegression(random_state = 5)
rfe = RFE(estimator = model_rfe, n_features_to_select = N)
X_rfe = rfe.fit_transform(X = X_train_Original.drop(columns=X_train_Original[binary_original]), y = y_train) 

selected_features_rfe = pd.Series(rfe.ranking_, index = X_train_Original.drop(columns=X_train_Original[binary_original]).columns)
selected_features_rfe.sort_values()

### **Intrinsic Methods**

#### Decision Tree Classifier - gini and entropy - binary variables

In [ ]:
gini_importance = DecisionTreeClassifier().fit(X_train_Original[binary_original], y_train).feature_importances_
entropy_importance = DecisionTreeClassifier(criterion='entropy').fit(X_train_Original[binary_original], y_train).feature_importances_

In [ ]:
zippy = pd.DataFrame(zip(gini_importance, entropy_importance), columns = ['gini','entropy'])
zippy['col'] = X_train_Original[binary_original].columns
tidy = zippy.melt(id_vars='col').rename(columns=str.title)
tidy.sort_values(['Value'], ascending = False, inplace = True)

plt.figure(figsize=(15,8))
sns.barplot(y='Col', x='Value', hue='Variable', data=tidy)

#### Decision Tree Classifier - gini and entropy - numerical variables

In [ ]:
gini_importance = DecisionTreeClassifier().fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train).feature_importances_
entropy_importance = DecisionTreeClassifier(criterion='entropy').fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train).feature_importances_

In [ ]:
zippy = pd.DataFrame(zip(gini_importance, entropy_importance), columns = ['gini','entropy'])
zippy['col'] = X_train_Original.drop(columns=X_train_Original[binary_original]).columns
tidy = zippy.melt(id_vars='col').rename(columns=str.title)
tidy.sort_values(['Value'], ascending = False, inplace = True)

plt.figure(figsize=(15,8))
sns.barplot(y='Col', x='Value', hue='Variable', data=tidy)

#### Random Forest Classifier - gini and entropy - binary variables

In [ ]:
gini_importanceRF = RandomForestClassifier().fit(X_train_Original[binary_original], y_train).feature_importances_
entropy_importanceRF = RandomForestClassifier(criterion='entropy').fit(X_train_Original[binary_original], y_train).feature_importances_

In [ ]:
zippy = pd.DataFrame(zip(gini_importanceRF, entropy_importanceRF), columns = ['gini','entropy'])
zippy['col'] = X_train_Original[binary_original].columns
tidy = zippy.melt(id_vars='col').rename(columns=str.title)
tidy.sort_values(['Value'], ascending = False, inplace = True)

plt.figure(figsize=(15,8))
sns.barplot(y='Col', x='Value', hue='Variable', data=tidy)

#### Random Forest Classifier - gini and entropy - numerical variables

In [ ]:
gini_importanceRF = RandomForestClassifier().fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train).feature_importances_
entropy_importanceRF = RandomForestClassifier(criterion='entropy').fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train).feature_importances_

In [ ]:
zippy = pd.DataFrame(zip(gini_importanceRF, entropy_importanceRF), columns = ['gini','entropy'])
zippy['col'] = X_train_Original.drop(columns=X_train_Original[binary_original]).columns
tidy = zippy.melt(id_vars='col').rename(columns=str.title)
tidy.sort_values(['Value'], ascending = False, inplace = True)

plt.figure(figsize=(15,8))
sns.barplot(y='Col', x='Value', hue='Variable', data=tidy)

### **Embbeded Methods**

#### Lasso - numerical variables

In [ ]:
#Feature selction trough Lasso
Lasso_Best_Alpha = LassoCV(cv = 10, random_state = 2)
Lasso_Best_Alpha = Lasso_Best_Alpha.fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train)

In [ ]:
Lasso_Best_Alpha.alpha_

In [ ]:
Lasso_Reg = Lasso(alpha = Lasso_Best_Alpha.alpha_, random_state = 2)
Lasso_Reg.fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train)
coef_Lasso = pd.Series(Lasso_Reg.coef_, index = X_train_Original.drop(columns=X_train_Original[binary_original]).columns)
coef_Lasso.sort_values()
plot_importance(coef_Lasso, 'Lasso')

#### Lasso - binary variables

In [ ]:
#Feature selction trough Lasso
Lasso_Best_Alpha = LassoCV(cv = 10, random_state = 2)
Lasso_Best_Alpha = Lasso_Best_Alpha.fit(X_train_Original[binary_original], y_train)

In [ ]:
Lasso_Best_Alpha.alpha_

In [ ]:
Lasso_Reg = Lasso(alpha = Lasso_Best_Alpha.alpha_, random_state = 2)
Lasso_Reg.fit(X_train_Original[binary_original], y_train)
coef_Lasso = pd.Series(Lasso_Reg.coef_, index = X_train_Original[binary_original].columns)
coef_Lasso.sort_values()
plot_importance(coef_Lasso, 'Lasso')

#### Ridge - numerical variables

In [ ]:
ridge_alphas = np.linspace(0.1,100, num= 100)
Ridge_Best_Alpha = RidgeClassifierCV(alphas = ridge_alphas, cv = 10)
Ridge_Best_Alpha = Ridge_Best_Alpha.fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train)

print('Best alpha for Ridge:', Ridge_Best_Alpha.alpha_)
Ridge = RidgeClassifier(alpha = Ridge_Best_Alpha.alpha_, random_state = 2)
Ridge = Ridge.fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train)

coef_Ridge = pd.Series(Ridge.coef_[0], index = X_train_Original.drop(columns=X_train_Original[binary_original]).columns)
coef_Ridge.sort_values()
plot_importance(coef_Ridge, 'Ridge')

#### Ridge - binary variables

In [ ]:
ridge_alphas = np.linspace(0.1,100, num= 100)
Ridge_Best_Alpha = RidgeClassifierCV(alphas = ridge_alphas, cv = 10)
Ridge_Best_Alpha = Ridge_Best_Alpha.fit(X_train_Original[binary_original], y_train)

print('Best alpha for Ridge:', Ridge_Best_Alpha.alpha_)
Ridge = RidgeClassifier(alpha = Ridge_Best_Alpha.alpha_, random_state = 2)
Ridge = Ridge.fit(X_train_Original[binary_original], y_train)

coef_Ridge = pd.Series(Ridge.coef_[0], index = X_train_Original[binary_original].columns)
coef_Ridge.sort_values()
plot_importance(coef_Ridge, 'Ridge')

#### Elastic Net - numerical variables

In [ ]:
ElasticNet_Best_L1_Alpha = ElasticNetCV(l1_ratio = [.1, .5, .7, .9, .95, .99, 1], cv = 10, random_state = 2) 
ElasticNet_Best_L1_Alpha = ElasticNet_Best_L1_Alpha.fit(X_train_Original, y_train)

In [ ]:
print(ElasticNet_Best_L1_Alpha.l1_ratio_) #Best l1
print(ElasticNet_Best_L1_Alpha.alpha_)#Best alpha

In [ ]:
ElasticNet_Reg = ElasticNet(l1_ratio = ElasticNet_Best_L1_Alpha.l1_ratio_, alpha = ElasticNet_Best_L1_Alpha.alpha_, random_state = 2)
ElasticNet_Reg.fit(X_train_Original.drop(columns=X_train_Original[binary_original]), y_train)
coef_ElasticNet = pd.Series(ElasticNet_Reg.coef_, index = X_train_Original.drop(columns=X_train_Original[binary_original]).columns)
coef_ElasticNet.sort_values()
plot_importance(coef_ElasticNet, 'ElasticNet')

#### Elastic Net - binary variables

In [ ]:
ElasticNet_Best_L1_Alpha = ElasticNetCV(l1_ratio = [0.0001,.1, .5, .7, .9, .95, .99, 1], cv = 10, random_state = 2) 
ElasticNet_Best_L1_Alpha = ElasticNet_Best_L1_Alpha.fit(X_train_Original[binary_original], y_train)

In [ ]:
print(ElasticNet_Best_L1_Alpha.l1_ratio_) #Best l1
print(ElasticNet_Best_L1_Alpha.alpha_)#Best alpha

In [ ]:
ElasticNet_Reg = ElasticNet(l1_ratio = ElasticNet_Best_L1_Alpha.l1_ratio_, alpha = ElasticNet_Best_L1_Alpha.alpha_, random_state = 2)
ElasticNet_Reg.fit(X_train_Original[binary_original], y_train)
coef_ElasticNet = pd.Series(ElasticNet_Reg.coef_, index = X_train_Original[binary_original].columns)
coef_ElasticNet.sort_values()
plot_importance(coef_ElasticNet, 'ElasticNet')

# **Artificial Resampling**

In [ ]:
X_train_AR = X_train.copy()

### Random Oversampling

In [ ]:
RO = RandomOverSampler(sampling_strategy='minority', random_state=15)
X_RO, y_RO = RO.fit_resample(X_train_AR, y_train)

In [ ]:
X_train_RO_Original = X_RO.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_RO_MTB = X_RO.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_RO_MT = X_RO.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])

### Synthetic Minority Oversampling Technique (SMOTE)

In [ ]:
SMOTE = SMOTE(sampling_strategy='minority', random_state=15)
X_SMOTE, y_SMOTE = SMOTE.fit_resample(X_train_AR, y_train)

In [ ]:
X_train_SMOTE_Original = X_SMOTE.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_SMOTE_MTB = X_SMOTE.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_SMOTE_MT = X_SMOTE.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])

### Adaptive Synthetic Oversampling (ADASYN)

In [ ]:
ADASYN = ADASYN(sampling_strategy='minority', random_state=15)
X_ADASYN, y_ADASYN = ADASYN.fit_resample(X_train_AR, y_train)

In [ ]:
X_train_ADASYN_Original = X_ADASYN.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_ADASYN_MTB = X_ADASYN.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_ADASYN_MT = X_ADASYN.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])

### Cluster-Based Undersampling (K-Means)

In [ ]:
CBU = ClusterCentroids(sampling_strategy='majority', random_state=15)
X_CBU, y_CBU = CBU.fit_resample(X_train_AR, y_train)

In [ ]:
X_train_CBU_Original = X_CBU.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_CBU_MTB = X_CBU.drop(columns = ['Money Received', 'Ticket Price', "MONEY_TICKET", 'Money_Ticket_Binary'])

X_train_CBU_MT = X_CBU.drop(columns = ['Money_Received_Binary', 'Ticket_Price_Binary','Money Received', 'Ticket Price', 'MONEY_TICKET'])

# **Model Exploration**

In [ ]:
X_train_FirstTry = X_train_Original.drop(columns = ['x0_Oceania', 'x0_America', 'x1_Not Married', 'x3_Private Sector', 'x4_2nd Sector'])

X_train_MTB_FirstTry = X_train_MTB.drop(columns = ['x0_Oceania', 'x0_America', 'x1_Not Married', 'x3_Private Sector', 'x4_2nd Sector'])

X_train_SecondTry = X_train_Original[['Money Received', 'YEARS_EDUCATION', 'Ticket Price', 'WORKING_HOURS', 'Age', 'x4_4th Sector', 'x2_Spouse', 'x4_1st Sector', 'x2_Children', 'x2_Other Family', 'Male', 'x3_Private Sector']]

X_train_MT_SecondTry = X_train_MT[['Money_Ticket_Binary', 'YEARS_EDUCATION', 'WORKING_HOURS', 'Age', 'x4_4th Sector', 'x2_Spouse', 'x4_1st Sector', 'x2_Children', 'x2_Other Family', 'Male', 'x3_Private Sector']]

X_train_ThirdTry = X_train_Original[['Money Received', 'YEARS_EDUCATION', 'Ticket Price', 'WORKING_HOURS', 'x4_4th Sector', 'x2_Spouse']]

In [ ]:
X_val_FirstTry = X_val_Original[X_train_FirstTry.columns.to_list()]

X_val_MTB_FirstTry = X_val_MTB[X_train_MTB_FirstTry.columns.to_list()]

X_val_SecondTry = X_val_Original[X_train_SecondTry.columns.to_list()]

X_val_MT_SecondTry = X_val_MT[X_train_MT_SecondTry.columns.to_list()]

X_val_ThirdTry = X_val_Original[X_train_ThirdTry.columns.to_list()]

In [ ]:
######Test final!!!!!!!!!!!!!!!

In [ ]:
#model = MLPClassifier()

In [ ]:
#parameter_space = {
#    'hidden_layer_sizes': [(5), (6), (7), (8), (9), (10), (11), (12), (13), (14), (5,5), (6,6), (7,7), (8,8), (9,9), (10,10), (11,11), (12,12), (13,13), (14,14)],
#    'activation': ['tanh', 'relu', 'logistic'],
#    'solver': ['sgd', 'adam'],
#    'learning_rate_init': list(np.linspace(0.00001,0.1,5)),
#    'learning_rate': ['constant','adaptive']
#}

In [ ]:
#First_GS = GridSearchCV(model, parameter_space, n_jobs = -1)

In [ ]:
#First_GS.fit(X_train_FirstTry, y_train)

In [ ]:
#First_GS.best_params_

#{'activation': 'tanh',
# 'hidden_layer_sizes': 9,
# 'learning_rate': 'constant',
# 'learning_rate_init': 0.025007500000000002,
# 'solver': 'adam'}

In [ ]:
# Best parameter set
#print('------------------------------------------------------------------------------------------------------------------------')
#print('Best parameters found:\n', First_GS.best_params_)
#print('------------------------------------------------------------------------------------------------------------------------')

# All results
#means = First_GS.cv_results_['mean_test_score']
#stds = First_GS.cv_results_['std_test_score']
#for mean, std, params in zip(means, stds, First_GS.cv_results_['params']):
#    print("%0.3f (+/-%0.03f) for %r" % (mean, std , params))

In [ ]:
First_NN = MLPClassifier(hidden_layer_sizes = (9), activation = 'tanh', learning_rate = 'constant', solver = 'adam', learning_rate_init = 0.025007500000000002, max_iter = 1000, random_state = 15)

In [ ]:
First_NN.fit(X_train_FirstTry, y_train)

In [ ]:
metrics(y_train, First_NN.predict(X_train_FirstTry), y_val, First_NN.predict(X_val_FirstTry))

In [ ]:
Second_NN = MLPClassifier(hidden_layer_sizes = (9), activation = 'tanh', solver = 'adam', learning_rate_init = 0.025007500000000002, max_iter = 1000, random_state = 15, verbose = 10)

In [ ]:
Second_NN.fit(X_train_SecondTry, y_train)

In [ ]:
f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro')

In [ ]:
f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro')

In [ ]:
#Second_NN = MLPClassifier(hidden_layer_sizes = (12,12), activation = 'tanh', solver = 'sgd', learning_rate = 'adaptive', learning_rate_init = 0.02, max_iter = 1000, random_state = 15, verbose = 10)

In [ ]:
#Second_NN.fit(X_train_SecondTry, y_train)

In [ ]:
#metrics(y_train, Second_NN.predict(X_train_SecondTry), y_val, Second_NN.predict(X_val_SecondTry))

In [ ]:
Second_NN = MLPClassifier(hidden_layer_sizes = (9), activation = 'tanh', solver = 'adam', learning_rate_init = 0.025007500000000002, max_iter = 1000, batch_size = X_train_SecondTry.shape[0], random_state = 15, verbose = 10)

In [ ]:
Second_NN.fit(X_train_SecondTry, y_train)

In [ ]:
f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro')

In [ ]:
f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro')

In [ ]:
X_train_SecondTry.shape[0]

In [ ]:
Second_NN = MLPClassifier(hidden_layer_sizes = (12,20), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, batch_size=50, random_state = 15, verbose = 10)

In [ ]:
Second_NN.fit(X_train_SecondTry, y_train)

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (12,20), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, batch_size=50, random_state = 15, verbose = 10)
#0.8573660714285715
#0.8591517857142857
#With Married

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (12,20), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.000001, random_state = 15, verbose = 10)
#0.8574404761904761
#0.8569196428571428

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (10,20), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 15, verbose = 10)
#0.8557291666666667
#0.8522321428571429

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (12,20), activation = 'relu', solver = 'sgd', learning_rate = 'adaptive', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 15, verbose = 10)
#0.853125
#0.8511160714285713

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (12,20), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 15, verbose = 10)
#0.8587797619047618
#0.85625

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (20,20), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 15, verbose = 10)
#0.8608630952380952
#0.8551339285714286

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (20,50), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 15, verbose = 10)
#0.8644345238095239
#0.8560267857142857

In [ ]:
print(f1_score(y_train, Second_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Second_NN.predict(X_val_SecondTry), average = 'micro'))
#Second_NN = MLPClassifier(hidden_layer_sizes = (50,100), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 15, verbose = 10)
#0.8656994047619048
#0.8513392857142857

In [ ]:
Third_NN = MLPClassifier(hidden_layer_sizes = (35,80), activation = 'relu', solver = 'adam', learning_rate_init = 0.01, max_iter = 1000,  alpha=0.00001, random_state = 14, verbose = 10)

In [ ]:
Third_NN.fit(X_train_SecondTry, y_train)

In [ ]:
print(f1_score(y_train, Third_NN.predict(X_train_SecondTry), average = 'micro'))
print(f1_score(y_val, Third_NN.predict(X_val_SecondTry), average = 'micro'))

### Decision tree

pessoal cuidado eu fui parvo e e aqui eu vou sobreporo o X_train_original pelo com as variaveis escolhidas pq me esqueci de fazer isto antes
por isso se correrem este codigo não se esqueçam disto

In [ ]:
X_train_tree=X_train_Original.drop(columns=[
        'Northbury', 'Male', 'x0_America', 'x0_Asia', 'x0_Europe',
       'x0_Oceania',  'x1_Not Married',  
        'x3_Not Working', 'x3_Private Sector',
       'x3_Public Sector', 'x4_1st Sector', 'x4_2nd Sector'])

X_test_tree=X_test_Original.drop(columns=[
        'Northbury', 'Male', 'x0_America', 'x0_Asia', 'x0_Europe',
       'x0_Oceania',  'x1_Not Married',  
        'x3_Not Working', 'x3_Private Sector',
       'x3_Public Sector', 'x4_1st Sector', 'x4_2nd Sector'])
X_val_Original_tree=X_val_Original.drop(columns=[
        'Northbury', 'Male', 'x0_America', 'x0_Asia', 'x0_Europe',
       'x0_Oceania',  'x1_Not Married',  
        'x3_Not Working', 'x3_Private Sector',
       'x3_Public Sector', 'x4_1st Sector', 'x4_2nd Sector'])

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.filterwarnings('ignore')
import time
from sklearn.model_selection import KFold
import numpy as np
from sklearn import tree
import matplotlib.pyplot as plt

In [ ]:
X = X_val_Original_tree
y = y_val

In [ ]:
def avg_score(model):
    # apply kfold
    kf = KFold(n_splits=10)
    # create lists to store the results from the different models 
    score_train = []
    score_test = []
    timer = []
    for train_index, test_index in kf.split(X):
        # get the indexes of the observations assigned for each partition
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
        # start counting time
        begin = time.perf_counter()
        # fit the model to the data
        model.fit(X_train, y_train)
        # finish counting time
        end = time.perf_counter()
        # check the mean accuracy for the train
        value_train = model.score(X_train, y_train)
        # check the mean accuracy for the test
        value_test = model.score(X_test,y_test)
        # append the accuracies, the time and the number of iterations in the corresponding list
        score_train.append(value_train)
        score_test.append(value_test)
        timer.append(end-begin)
    # calculate the average and the std for each measure (accuracy, time and number of iterations)
    avg_time = round(np.mean(timer),3)
    avg_train = round(np.mean(score_train),3)
    avg_test = round(np.mean(score_test),3)
    std_time = round(np.std(timer),2)
    std_train = round(np.std(score_train),2)
    std_test = round(np.std(score_test),2)
    
    return str(avg_time) + '+/-' + str(std_time), str(avg_train) + '+/-' + str(std_train),\
str(avg_test) + '+/-' + str(std_test)

Façam estes pip install antes de correrem o resto, façam no anaconda prompt pa ser mais rapido

In [ ]:
# in anaconda prompt: conda install python-graphviz
# pip install pydotplus

In [ ]:
from sklearn.tree import export_graphviz
import graphviz
import pydotplus

def plot_tree(model):
    dot_data = export_graphviz(model,
                               feature_names=X_train_tree.columns,  
                               class_names=["High income", "Low income"],
                               filled=True)
    pydot_graph = pydotplus.graph_from_dot_data(dot_data)
    pydot_graph.set_size('"20,20"')
    return graphviz.Source(pydot_graph.to_string())

In [ ]:
def show_results(df, *args):
    """
    Receive an empty dataframe and the different models and call the function avg_score
    """
    count = 0
    # for each model passed as argument
    for arg in args:
        # obtain the results provided by avg_score
        time, avg_train, avg_test = avg_score(arg)
        # store the results in the right row
        df.iloc[count] = time, avg_train, avg_test
        count+=1
    return df

Vamos exprimentar primeiro com o gini e depois com entropy tmb vou pesquizar a diferença para não estarmos a fazer cenas a toa

In [ ]:
dt_gini = DecisionTreeClassifier()
dt_gini.fit(X_train_tree, y_train)
y_pred = dt_gini.predict(X_test_tree)
y_pred_prob = dt_gini.predict_proba(X_test_tree)

In [ ]:
print('The defined three has a depth of ' + str(dt_gini.get_depth()) + ', ' + str(dt_gini.tree_.node_count) + 
      ' nodes and a total of ' + str(dt_gini.get_n_leaves()) + ' leaves.')

In [ ]:
dt_entropy = DecisionTreeClassifier(criterion = 'entropy').fit(X_train_tree, y_train)

In [ ]:
yes=avg_score(dt_entropy)[1]

In [ ]:
df = pd.DataFrame(columns = ['Time','Train','Test'], index = ['Gini','Entropy'])
show_results(df,dt_gini, dt_entropy)

Gini tem valores ligeiramente mais elevados no test que entropy por isso vou prosseguir com esse

#### Depth

In [ ]:
for i in range (1, 32):
    dt_curr = DecisionTreeClassifier(max_depth = i).fit(X_train_tree, y_train)
    
    print('The current depth is ' , i)
    print('The train score is :', avg_score(dt_curr)[1])
    print('The test score is :', avg_score(dt_curr)[2])

A depth ideal seria de 8, 9 ou 10 mais do que isso estamos a incorrer em overfitting, sugiro 8 tem valores muito equilibrados

#### Minimum number of samples

In [ ]:
for i in range (50, 1000,50):
    dt_curr = DecisionTreeClassifier(min_samples_split = i).fit(X_train_tree, y_train)
    
    print('The current depth is ' , i)
    print('The train score is :', avg_score(dt_curr)[1])
    print('The test score is :', avg_score(dt_curr)[2])

Visto que nao parece mudar muito não vou considerar este parametro, o score oscila quase que aleatoriamente

#### Weight of each leaf

In [ ]:
a=np.arange(0.05,0.5,0.05) 

for i in range (len(a)):
    dt_curr = DecisionTreeClassifier(min_weight_fraction_leaf = a[i]).fit(X_train_tree, y_train)
    
    print('The leaft weight is ' , a[i])
    print('The train score is :', avg_score(dt_curr)[1])
    print('The test score is :', avg_score(dt_curr)[2])

Com estes tre parametros conseguimos então reduzir o over fittin e esta seria a arvore final:

In [ ]:
dt_final = DecisionTreeClassifier(min_weight_fraction_leaf = 0.05, max_features = 8,min_samples_split = 100).fit(X_train_tree, y_train)

In [ ]:
df = pd.DataFrame(columns = ['Time','Train','Test'], index = ['Final tree'])
show_results(df,dt_final)

#### Tree plot

In [ ]:
plot_tree(dt_final)

# **Final Model**

# **Assess**

# **Limitations and Conclusions**