## Machine Learning Project

### Importing the Libraries and Packages

In [1]:
import pandas as pd
import datetime
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from math import ceil
from pandas_profiling import ProfileReport
import scipy.cluster.hierarchy as shc
from sklearn import datasets
from sklearn.feature_selection import VarianceThreshold

# for better resolution plots
%config InlineBackend.figure_format = 'retina' # optionally, you can change 'svg' to 'retina'


import warnings
warnings.filterwarnings("ignore")

### Some Functions that we are going to use

In [34]:
def month_string_to_int(df, column): #############Apagar dps
    
    df[column] = df[column].map(lambda x: 1 if x == 'january' else 
                                   2 if (x == 'february') else 
                                   3 if (x == 'march') else 
                                   4 if (x == 'april') else 
                                   5 if (x == 'may') else 
                                   6 if (x == 'june') else 
                                   7 if (x == 'july') else 
                                   8 if (x == 'august') else 
                                   9 if (x == 'september') else 
                                   10 if (x == 'october') else 
                                   11 if (x == 'november') else 
                                   12 if (x == 'december') else 
                                   x)

def from_object_to_datetime(df, column): ##############Apagar dps
    
    df[column] = pd.to_datetime(df[column], infer_datetime_format=True)
    
def birthday_to_age(df, column, new_column):
    '''
    This function creates a column representing the difference in years from a given birth year column values
    Having into account that we are on the year 2048
    '''
    
    df[new_column] = df[column].map(lambda x : 2048 - x)
    
def questionmark_to_nan(df, column):
    '''
    This function turns a binary variable with missing values as '?' in NaN
    It needs as input the dataframe and the column name 
    (column name needs to be between '')
    '''
    df[column] = df[column].map(lambda x: np.nan if x == '?' else x)

def longmonth_to_number(df, name):
    conditions = [(train["MOB"]== "January"), (train["MOB"]== "February"), (train["MOB"]== "March"), (train["MOB"]== "April"), 
                 (train["MOB"]== "May"),(train["MOB"]== "June"), (train["MOB"]== "July"), (train["MOB"]== "August"), (train["MOB"]== "September")
                 (train["MOB"]== "October"),(train["MOB"]== "November"),(train["MOB"]== "December")]
    choices = [1,2,3,4,5,6,7,8,9,10,11,12]
    train["MOB"] = np.select(conditions, choices, default=np.nan)
    return train["MOB"]

## Import data

In [80]:
train = pd.read_excel("Train.xlsx")
test = pd.read_excel("Test.xlsx")

## Data Inspection

In [4]:
train.head() #Data was imported correctly

,CITIZEN_ID,Name,Birthday,Native Continent,Marital Status,Lives with,Base Area,Education Level,Years of Education,Employment Sector,Role,Working Hours per week,Money Received,Ticket Price,Income
0,12486,Mr. Adam Glover,"July 1,2003",Europe,Married,Wife,Northbury,High School + PostGraduation,13,Private Sector - Services,Repair & constructions,40,0,2273,1
1,12487,Mr. Cameron McDonald,"January 25,2006",Europe,Married,Wife,Northbury,Professional School,12,Public Sector - Others,Repair & constructions,40,0,0,1
2,12488,Mr. Keith Davidson,"May 10,2009",Europe,Married,Wife,Northbury,Professional School,12,Private Sector - Services,Sales,46,0,2321,1
3,12489,Mr. Alexander Gill,"March 25,1985",Europe,Married,Wife,Northbury,High School - 2nd Cycle,11,Private Sector - Services,Security,37,5395,0,1
4,12490,Mr. Neil Piper,"May 29,2015",Europe,Single,Other Family,Northbury,PhD,21,Self-Employed (Individual),Professor,45,0,0,1

In [5]:
train.dtypes #No column seems to have, for now, a wrong dtype, except Birthday

CITIZEN_ID                 int64
Name                      object
Birthday                  object
Native Continent          object
Marital Status            object
Lives with                object
Base Area                 object
Education Level           object
Years of Education         int64
Employment Sector         object
Role                      object
Working Hours per week     int64
Money Received             int64
Ticket Price               int64
Income                     int64
dtype: object

In [6]:
train.isna().sum() #No "immediate" missing values

CITIZEN_ID                0
Name                      0
Birthday                  0
Native Continent          0
Marital Status            0
Lives with                0
Base Area                 0
Education Level           0
Years of Education        0
Employment Sector         0
Role                      0
Working Hours per week    0
Money Received            0
Ticket Price              0
Income                    0
dtype: int64

## Data Treatment

### Categorical Variables Treatment

Lets start to treat the object type variables.

Remember that no variables seemed to show missing values.

In [88]:
train.dtypes

CITIZEN_ID                 int64
Name                      object
Birthday                  object
Native Continent          object
Marital Status            object
Lives with                object
Base Area                 object
Education Level           object
Years of Education         int64
Employment Sector         object
Role                      object
Working Hours per week     int64
Money Received             int64
Ticket Price               int64
Income                     int64
dtype: object

In [9]:
train['Native Continent'].value_counts() #All seems fine

#Falta fazer one hot encoding

Europe     19111
Africa      2187
Asia         699
America      219
Oceania      184
Name: Native Continent, dtype: int64

In [10]:
train['Marital Status'].value_counts() #All seems fine

#Falta "standardizar" Married - X e fazer one hot encoding

Married                         10219
Single                           7416
Divorced                         3072
Separated                         699
Widow                             696
Married - Spouse Missing          284
Married - Spouse in the Army       14
Name: Marital Status, dtype: int64

In [12]:
train['Lives with'].value_counts() #All seems fine

#Falta "standardizar" Wife-Husband to Spouse e Other Relatives to Other Family
#Fazer One-hot encoding

Wife               9012
Other Family       5777
Children           3519
Alone              2362
Husband            1049
Other relatives     681
Name: Lives with, dtype: int64

In [65]:
train['Base Area'].value_counts() #We have '?' values, wich are clearly missing values, so we have to turn them in to ones

#Falta fazer fillNA
#Provavelmente n vamos poder usar esta variável pois seria necessário fazer one hot encoding e íamos criar muitas variáveis
#No entanto conseguimos ver que a maior parte das observações são de Northbury, então uma variável binária sobre este valor
#talvez seja fixe

Northbury        20074
Fanfoss            443
?                  395
Alverton           135
Butterpond          96
Watford             83
Auchenshuggle       80
Pran                77
Sharnwick           70
Aroonshire          64
Laewaes             63
Fool's March        59
Wigston             56
Eelry               56
Sharpton            54
Lanercost           52
Cherrytown          51
Aerilon             45
King's Watch        44
Kirkwall            40
Bellmoral           40
Knife's Edge        37
Laenteglos          32
Tranmere            30
Drumchapel          25
Aberuthven          23
Orilon              22
Kald                19
Carlisle            18
MillerVille         17
Willesden           16
Lewes               16
Conriston           12
Marnmouth           11
Middlesbrough       10
Mensfield            9
Woodpine             9
Redwick Bush         8
Bellenau             8
Ironforge            1
Name: Base Area, dtype: int64

In [66]:
questionmark_to_nan(train, 'Base Area') #Turns '?' in to NaN

In [69]:
#Problem resolved

print(train['Base Area'].isna().sum())

train['Base Area'].value_counts()

395

Northbury        20074
Fanfoss            443
Alverton           135
Butterpond          96
Watford             83
Auchenshuggle       80
Pran                77
Sharnwick           70
Aroonshire          64
Laewaes             63
Fool's March        59
Eelry               56
Wigston             56
Sharpton            54
Lanercost           52
Cherrytown          51
Aerilon             45
King's Watch        44
Kirkwall            40
Bellmoral           40
Knife's Edge        37
Laenteglos          32
Tranmere            30
Drumchapel          25
Aberuthven          23
Orilon              22
Kald                19
Carlisle            18
MillerVille         17
Willesden           16
Lewes               16
Conriston           12
Marnmouth           11
Middlesbrough       10
Mensfield            9
Woodpine             9
Redwick Bush         8
Bellenau             8
Ironforge            1
Name: Base Area, dtype: int64

In [14]:
train['Education Level'].value_counts() #All seems fine

#É preciso fazer muita standardização

#Após a standardização, aqui já podemos usar label encoding, uma vez que há uma ordem entre as categorias!!

Professional School                     7232
High School + PostGraduation            4994
Bachelors + PostGraduation              3696
Masters                                 1193
Professional School + PostGraduation     953
High School - 2nd Cycle                  809
Bachelors                                735
High School - 1st Cycle                  649
Middle School - 2nd Cycle                432
Masters + PostGraduation                 397
Middle School Complete                   342
PhD                                      289
High School Complete                     287
Middle School - 1st Cycle                237
Primary School                           122
Preschool                                 33
Name: Education Level, dtype: int64

In [70]:
train['Employment Sector'].value_counts() #Has the same missing values problem as before

#Falta "standardização" e one hot encoding

Private Sector - Services     15599
Self-Employed (Individual)     1764
Public Sector - Others         1419
?                              1264
Private Sector - Others         880
Self-Employed (Company)         763
Public Sector - Government      692
Unemployed                       12
Never Worked                      7
Name: Employment Sector, dtype: int64

In [71]:
questionmark_to_nan(train, 'Employment Sector') #Turns '?' in to NaN

In [73]:
#Problem resolved

print(train['Employment Sector'].isna().sum())

train['Employment Sector'].value_counts()

1264

Private Sector - Services     15599
Self-Employed (Individual)     1764
Public Sector - Others         1419
Private Sector - Others         880
Self-Employed (Company)         763
Public Sector - Government      692
Unemployed                       12
Never Worked                      7
Name: Employment Sector, dtype: int64

In [74]:
train['Role'].value_counts() #Has the same missing values problem as before

#Não estou a ver que tipo de standardização podemos fazer, além, de setor terciário, secundário e primário

#One hot encoding

Professor                         2849
Management                        2797
Repair & constructions            2795
Administratives                   2608
Sales                             2531
Other services                    2287
Machine Operators & Inspectors    1384
?                                 1271
Transports                        1071
Cleaners & Handlers                922
Agriculture and Fishing            702
IT                                 626
Security                           450
Household Services                 102
Army                                 5
Name: Role, dtype: int64

In [75]:
questionmark_to_nan(train, 'Role') #Turns '?' in to NaN

In [76]:
#Problem resolved

print(train['Role'].isna().sum())

train['Role'].value_counts()

1271

Professor                         2849
Management                        2797
Repair & constructions            2795
Administratives                   2608
Sales                             2531
Other services                    2287
Machine Operators & Inspectors    1384
Transports                        1071
Cleaners & Handlers                922
Agriculture and Fishing            702
IT                                 626
Security                           450
Household Services                 102
Army                                 5
Name: Role, dtype: int64

In [78]:
train['Name'].head()

#Separar Mr. do nome, cagar no nome e utilizar 1st byte para criar variável Male

0         Mr. Adam Glover
1    Mr. Cameron McDonald
2      Mr. Keith Davidson
3      Mr. Alexander Gill
4          Mr. Neil Piper
Name: Name, dtype: object

In [92]:
train['Name'].str.contains('?', regex = False).sum() #To check that there are no '?' missing values

0

In [90]:
train['Birthday'].head() #Clearly some transformations are needed, if we want to use this variable

0         July 1,2003
1     January 25,2006
2         May 10,2009
3       March 25,1985
4         May 29,2015
Name: Birthday, dtype: object

In [91]:
train['Birthday'].str.contains('?', regex = False).sum() #To check that there are no '?' missing values

0

### Numeric Variables Treatment

## Coherence Checks

## Missing Values Imputation

## Data Transformation

### Birthday to age transformation

We have the birthday of each person, but more usefull to estimate the model is their age.

However before we calculate the age we have to do some transformations to the birthday variable.

We will calculate the age having in to account that we are on the year 2048, and we don't know the current month or day.

In [55]:
train['Birthday'].head()

0         July 1,2003
1     January 25,2006
2         May 10,2009
3       March 25,1985
4         May 29,2015
Name: Birthday, dtype: object

In [56]:
#First we extract the year of each birthday in to a new column

train["YOB"] = train['Birthday'].str.split(' ', n = 2, expand = True)[2].str.split(',', n = 1, expand = True)[1]

In [57]:
train["YOB"].head()

0    2003
1    2006
2    2009
3    1985
4    2015
Name: YOB, dtype: object

In [59]:
train['YOB'] = train['YOB'].astype('int64') #Turns year of birth in to dtype int

In [60]:
birthday_to_age(train, 'YOB', 'Age') #Turns year of birth to age

In [61]:
train[['Age']].describe().T #All seems fine

       count       mean        std   min   25%   50%   75%   max
Age  22400.0  38.584866  13.651578  17.0  28.0  37.0  48.0  90.0

In [62]:
train.drop(columns = ['Birthday', 'YOB'], inplace = True) #And we drop the columns we will no longer need

### One Hot Encoding

### Label Encoding